<main>
  <header class="centro">
    <img src="https://cdn-icons-png.flaticon.com/128/826/826070.png" width="75px" height="75px"><br>
    <img src="../assets/logo.png" width="500px" height="75px">
  </header>
  <nav>
    <a style="float: left;" routerLinkActive="active" ariaCurrentWhenActive="page" routerLink="/home">Home</a>
    <a style="float: left;" routerLinkActive="active" ariaCurrentWhenActive="page" routerLink="/hotel-list">Listar Hoteles</a>
    <a style="float: left;" routerLinkActive="active" ariaCurrentWhenActive="page" routerLink="/hotel-register">Crear Hoteles</a>
    <a *ngIf="showLoginButton" style="float: right;" routerLinkActive="active" ariaCurrentWhenActive="page" routerLink="/login">Iniciar Sesión</a>
    <a *ngIf="showRegisterButton" style="float: right;" routerLinkActive="active" ariaCurrentWhenActive="page" routerLink="/user-register">Registrarse</a>
    <button *ngIf="!showLoginButton && !showRegisterButton" style="float: right;" (click)="logout()">Cerrar Sesión</button>
  </nav>
  <router-outlet></router-outlet>
  <footer>          
    <a href="https://web.whatsapp.com/">
      ¿Necesitas ayuda?      
      <img src="https://upload.wikimedia.org/wikipedia/commons/5/5e/WhatsApp_icon.png" width="75px" height="75px">
    </a>
    <p style="color: white; font-size: 25px; float: none">Todos los derechos reservado ©</p>
  </footer>
</main>

