<div>
    <section class="sec-izquierda">
        <p class="text-prin izquierda">
            Si tu meta es conocer cada rincón de Quito,<br>
            entonces este sitio web es para ti.<br>
            Contamos con la confianza de hoteles<br>
            de varias partes de la ciudad, afiliados a nuestro<br>
            grupo de hoteles en línea.<br>

            Ahora ya no tienes excusa para visitar<br>
            tus lugares soñados y hospedarte<br>
            de forma segura.<br><br>
        </p>
    </section>
</div>

<img class="img-prin" src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2c/01/93/a9/hotel-exterior.jpg?w=1200&h=-1&s=1">
