.example-container mat-form-field + mat-form-field {
  margin-left: 8px;
}
section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

 /*HOTEL-REGISTER*/

.ipt{
width: 180px;
height: 25px;
margin-left: 50px;
float: right;
}

.ipt-area{
width: 180px;
height: 25px;
max-width: 180px;
min-width: 180px;
max-height: 100px;
min-height: 25px;
float: right;
}

.text-l{
display: flex;
justify-content: center;
align-items: center;
background-color: #FAEE76;
filter:alpha(opacity=20);
-moz-opacity:0.3;
opacity: 0.9;
padding:20px;
color: black;
font:bold 20px verdana;
margin: 0 auto; 
margin-top: 20px;
margin-bottom: 20px;

width: 50%;
height: 50%;
border-radius: 10%;
}

.img-l{
width:500px;
height:400px;
padding:10px;
}

.btn-l{

color: black;
justify-content: center;
align-items: center;
padding: 10px;
font:bold 20px verdana;
}

/*BASICS*/
h1{
text-align: center;
display: flex;
justify-content: center;
align-items: center;
background-color: #faaf76;
filter:alpha(opacity=20);
-moz-opacity:0.3;
opacity: 0.9;
padding: 40px 20px;
color: black;
font-size: 40px;
font-family: "Times New Roman", Times, serif;
margin: 0 auto; 
margin-top: 20px;
margin-bottom: 20px;
width: 35%;
height: 0.5%;
border-radius: 10%;
}