<h1>REGISTRO DE HOTEL</h1>
<div class="text-hr">
  <form [formGroup]="form">
    <div>
      <label for="name">Nombre: </label>
      <input class="ipt" type="text" id="name" formControlName="name">
    </div>
    <div><br>
      <label for="address">Dirección: </label>
      <input class="ipt" type="text" id="address" formControlName="address">
    </div>
    <div><br>
      <label for="city">Descripción: </label>
      <textarea class="ipt-area" id="city" formControlName="city"></textarea>
    </div><br>
    <button class="btn-hr" type="submit" (click)="crear_hotel()">Registrar Hotel</button>
  </form>
</div>
  